[submodule "circuits/aes-circom"]
	path = circuits/aes-circom
	url = https://github.com/crema-labs/aes-circom.git

[submodule "ecdsa-dl"]
	path = circuits/ecdsa-dl
	url = https://github.com/crema-labs/circom-dl.git
